/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2016, 1:36:56 PM
    Author     : KooMasha
*/

body{
    background-image: url("img/bg1.jpg");
    background-size: cover;
}

input[type="text"]:disabled{
    cursor: auto;
}

.test-api .test-api-buttons{
    overflow-y: scroll;
    height: 700px;
}
.test-api #responseData{
    height: 500px;
}

.test-api label{
    margin-top: 8px;
}

.center-text{
    text-align: center;
}
